@model List<FixMyTask_Core_Project.Models.UserReviewModel>
<h2>Reviews</h2>

@if (Model == null)
{
    <div class="alert alert-warning"> No Reviews</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Review</th>
                <th>Review Date</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>@review.User_Name</td>
                    <td>@review.Review</td>
                    <td>@review.ReviewDate.ToShortDateString()</td>
                    <td>@review.Rating</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Worker_PageLoad", "Worker")" class="btn btn-success mt-3">Back</a>
}


