@model FixMyTask_Core_Project.Models.WorkerModel


<h2>Welcome to @Model.WorkerName Your Dashboard</h2>

<div class="list-group">
    <a href="@Url.Action("EditProfile", "Worker")" class="list-group-item list-group-item-action">
         Edit Profile
    </a>
    <a href="@Url.Action("ViewBookingRequests", "Worker")" class="list-group-item list-group-item-action">
         View Job Requests
    </a>
    <a href="@Url.Action("ManageBookingStatus", "Worker")" class="list-group-item list-group-item-action">
         Manage Bookings
    </a>
    <a href="@Url.Action("Reviews", "Worker")" class="list-group-item list-group-item-action">
         View Reviews & Ratings
    </a>
</div>
