@model FixMyTask_Core_Project.Models.Booking
@{
    ViewData["IsWorker"] = false;
}
<div class="container mt-4">

<h2>Booking Status</h2>

<p><strong>Booking Status:</strong> @Model.Booking_Status</p>
<p><strong>Service Date:</strong> @Model.ServiceDate.ToShortDateString()</p>
<p><strong>Service Time:</strong> @Model.ServiceTime</p>
<p><strong>Payment:</strong> @Model.Paid</p>

@if (Model.Booking_Status == "Pending")
{
    <div class="alert alert-info">Booking placed successfully. Waiting for worker confirmation.</div>
}
else if (Model.Booking_Status == "Accepted")
{
    <div class="alert alert-success">Booking confirmed by worker.</div>
   
}
else if (Model.Booking_Status == "Reached")
{
    <div class="alert alert-success">Worker Reached Your Location.</div>
}
else if (Model.Booking_Status == "Rejected")
{
    <div class="alert alert-success">Booking rejected by worker.</div>
}
else if (Model.Booking_Status == "Completed" && Model.Paid == "No")
{
    <div class="alert alert-success">Work completed. Please proceed with payment.</div>
    <form asp-action="MakePayment" method="post">
        <input type="hidden" name="bookingId" value="@Model.Booking_Id" />
        <button type="submit" class="btn btn-primary">Pay Now</button>
    </form>
}
else if (Model.Paid == "Yes")
{
    <div class="alert alert-success">Payment completed. Thank you!</div>
}

    <a href="@Url.Action("WorkerProfile", "User",new {workerId=Model.Worker_Id})" class="btn btn-success ml-2">Back</a>

</div>