
@model FixMyTask_Core_Project.Models.WorkerInsert


<form asp-action="WorkerReg_Click" class="form-horizondal" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="Worker_Name" class="form-control" id="t1" />
        <span asp-validation-for="Worker_Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="Worker_Email" class="form-control" id="t2" />
        <span asp-validation-for="Worker_Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Phone Number</label>
        <input asp-for="Worker_Phone" class="form-control" id="t3" />
        <span asp-validation-for="Worker_Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Photo</label>
        <input type="file" name="file" asp-for="Worker_Photo" class="form-control" id="t4" required />
        
    </div>

    <div class="form-group">
        <label class="control-label">Gender</label><br />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Worker_Gender" name="Worker_Gender" value="Male" id="genderMale" />
            <label class="form-check-label" for="genderMale">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Worker_Gender" name="Worker_Gender" value="Female" id="genderFemale" />
            <label class="form-check-label" for="genderFemale">Female</label>
        </div>
        <span asp-validation-for="Worker_Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        <input asp-for="Worker_Address" class="form-control" id="t6" />
        <span asp-validation-for="Worker_Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="Worker_Country" class="form-control" id="t7" />
        <span asp-validation-for="Worker_Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="Worker_State" class="form-control" id="t8" />
        <span asp-validation-for="Worker_State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="Worker_City" class="form-control" id="t9" />
        <span asp-validation-for="Worker_City" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="Category_Id">Category</label>
        <select class="form-control" id="Category_Id" name="Category_Id">
            <option value="">Select Category</option>
            @if (ViewBag.Categories is SelectList categories)
            {
                foreach (var category in categories)
                {
                    <option value="@category.Value">@category.Text</option>
                }
            }
        </select>
        
    </div>


    <div class="form-group">
        <label class="control-label">Experience</label>
        <input asp-for="Worker_Exp" class="form-control" id="t10" />
        <span asp-validation-for="Worker_Exp" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Price</label>
        <input asp-for="Worker_Price" class="form-control" id="t10" />
        <span asp-validation-for="Worker_Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <input asp-for="Worker_Description" class="form-control" id="t10" />
        <span asp-validation-for="Worker_Description" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="Username" class="form-control" id="t11" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="Password" class="form-control" id="t12"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Conform Password</label>
        <input asp-for="cPassword" class="form-control" id="t13"/>
        <span asp-validation-for="cPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-success" />
    </div>
</form>
@{
    if (@TempData["msg"] != null)
    {
        <div class="alert alert-danger">
            @TempData["msg"]
        </div>
    }
    @if (!string.IsNullOrEmpty(Model?.msg))
    {
        <div class="alert alert-success">@Model.msg</div>
    }
}